body {
	background-color: #212529;
	color: #fff;
}
.navbar {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.12), 0 5px 4px rgba(0, 0, 0, 0.24);
}
.navbar {
	background: #212529;
}
.nav-item::after {
	content: "";
	display: block;
	width: 0px;
	height: 2px;
	background: #0b5ed7;
	transition: 0.2s;
}
.nav-item:hover::after {
	width: 100%;
}
.navbar-brand {
	font-size: 20px;
	transition: font-size 0.5s ease;
}
.navbar-brand:hover {
	font-size: 24px;
	color: #fec400;
}
.navbar.d-none {
	display: none;
}
.navbar.btn:hover {
	transform: scale(1.2);
}
input {
	padding: 5px;
	border-radius: 5px;
	border: none;
	background-color: #fff;
	margin-bottom: 20px;
}
.btn:hover {
	transform: scale(1.2);
}
.toggle-vis:hover {
	transform: scale(1.2);
}
table.dataTable td,
table.dataTable th {
	padding: 5px;
	border: 1px solid grey;
	overflow: hidden;
}
table.dataTable tbody tr {
	border-bottom: 1px solid #ddd;
}
table.dataTable tbody tr:nth-child(even) {
	background-color: #979797;
	color: black;
	border: 3px solid #ddd;
}
table.dataTable tbody tr:nth-child(odd) {
	background-color: #34393d;
	color: white;
	border: 3px solid #ddd;
}
table.dataTable thead th {
	background-color: #1d1e44;
	text-align: center;
}
.child {
	background-color: #fff;
	color: #000000;
}
.child:hover {
	background-color: #fff;
	color: #000000;
}
.search__field.required {
	animation: flash 1s infinite; /* Loop the animation indefinitely */
}
@keyframes flash {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
.search__message {
	display: none;
	color: red;
	font-size: 14px;
	margin-top: 5px;
}
.toggle-vis.active {
	background-color: red;
	color: #fff;
}
.toggle-vis {
	/* background-color: #10d160; */
	border-color: #000000;
	color: #000000;
	margin-right: 10px;
	margin-bottom: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12), 0 5px 4px rgba(0, 0, 0, 0.24);
}
.bounce {
	animation: bounce 0.5s linear;
	transform-origin: bottom center;
}
@keyframes bounce {
	0%,
	100% {
		transform: translateY(0) scale(1);
	}
	50% {
		transform: translateY(-20px) scale(1.1);
	}
}

.btn-light {
	background-color: #0056b3;
	border-color: #0056b3;
	color: #fff;
}
.dtsb-clearAll {
	background-color: #dc3545;
	border-color: #dc3545;
	color: #fff;
}
.dtsb-data > option, .form-control-sm, select.form-select > option, .form-select {
	background-color: #212529;
	color: #fff;
}
.dtsb-data, select.form-select, .dtsb-value, .dtsb-value:active {
	color: #fff;
}
.dt-buttons {
	margin-bottom: 10px;
	width: 50%;
	margin: 0 auto;
}
#resultsTable_previous > a:nth-child(1) {
	background-color: #212529;
	color: #fff;
}
#resultsTable_previous > a:nth-child(1):hover {
	background-color: #e9ecef;
	color: #1978d6;
}
#resultsTable_ellipsis > a:nth-child(1) {
	background-color: #212529;
	color: #fff;
}
.pagination > li > a {
	background-color: #212529;
	color: #fff;
}
li.paginate_button:active {
	background-color: #1978d6;
	color: #fff;
}