#header-img {
	background-image: url("../img/one.jpg");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: grey;
	background-blend-mode: multiply;
}

#capBadge-div {
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
#capBadge-div img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#unitByCountDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
#countyByCountDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}